---
import Radio from './Radio.astro';

const ownrent = {
    name: "own-or-rent",
    legend: "Do you own or rent?",
    divClass: "col-6",
    required: "true",
    spanClass: "validity",
    entries: {
        "own": {
          value: "own",
          text: "Own"
        },
        "rent": {
          value: "rent",
          text: "Rent"
        },
    },
};
---
<style>
    .two-col-full-width {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    @media screen and (max-width: 700px) {
        .two-col-full-width {
            grid-template-columns: 1fr;
        }
    }
    .one-col-full-width {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
    }

    legend {
      font-size: 0.8em;
      font-weight: 800;
      letter-spacing: 0.225em;
      line-height: 1.5em;
      margin: 0 0 1em 0;
      text-transform: uppercase;
    }

    fieldset[required="true"]:invalid > legend > span::after {
      position: absolute;
      content: "✖";
      padding-left: 5px;
      color: #8b0000;
    }

    fieldset[required="true"]:valid > legend > span::after {
      position: absolute;
      content: "✓";
      padding-left: 5px;
      color: #009000;
    }
</style>
<div class="col-12">
  <fieldset required={ownrent.required}>
    <legend>{ownrent.legend}<span class={ownrent.spanClass}></span></legend>
    <div class = "two-col-full-width">
      {Object.keys(ownrent.entries).map((key) =>
        <Radio
          divClass = {ownrent.divClass}
          radioName = {ownrent.name}
          radioId = {key}
          radioValue = {ownrent.entries[key].value}
          radioRequired = {ownrent.required}
          labelText = {ownrent.entries[key].text}
        />
      )}
    </div>
  </fieldset>
</div>
