---
import Radio from './Radio.astro';

const petpermission = {
    name: "pet-permission",
    legend: "Do you have your landlord's permission to have a pet?",
    divClass: "col-6",
    required: "false",
    spanClass: "validity",
    entries: {
        "pet-permission-yes": {
          value: "yes",
          text: "Yes"
        },
        "pet-permission-no": {
          value: "no",
          text: "No"
        },
    },
};
---
<style>
    .two-col-full-width {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    @media screen and (max-width: 700px) {
        .two-col-full-width {
            grid-template-columns: 1fr;
        }
    }
    .one-col-full-width {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
    }

    legend {
      font-size: 0.8em;
      font-weight: 800;
      letter-spacing: 0.225em;
      line-height: 1.5em;
      margin: 0 0 1em 0;
      text-transform: uppercase;
    }

    fieldset[required="true"]:invalid > legend > span::after {
      position: absolute;
      content: "✖";
      padding-left: 5px;
      color: #8b0000;
    }

    fieldset[required="true"]:valid > legend > span::after {
      position: absolute;
      content: "✓";
      padding-left: 5px;
      color: #009000;
    }
</style>
<div class="col-12">
  <fieldset required={petpermission.required}>
    <legend>{petpermission.legend}<span class={petpermission.spanClass}></span></legend>
    <div class = "two-col-full-width">
      {Object.keys(petpermission.entries).map((key) =>
        <Radio
          divClass = {petpermission.divClass}
          radioName = {petpermission.name}
          radioId = {key}
          radioValue = {petpermission.entries[key].value}
          radioRequired = {petpermission.required}
          labelText = {petpermission.entries[key].text}
        />
      )}
    </div>
  </fieldset>
</div>
