---
export interface Props {
    divClass?: string;
    radioClass?: string;
    radioName: string;
    radioId: string;
    radioValue?: string;
    radioRequired?: string;
    labelText?: string;
}

const {
    divClass = "col-6",
    radioClass = "radio-dynamic-label",
    radioName,
    radioId,
    radioValue = "",
    radioRequired = "false",
    labelText = "",
} = Astro.props;
---
<div class={divClass}>
    {radioRequired === "true" ?
        <input
            type="radio"
            class={radioClass}
            name={radioName}
            id={radioId}
            value={radioValue}
            required
        />
    :
        <input
            type="radio"
            class={radioClass}
            name={radioName}
            id={radioId}
            value={radioValue}
        />
    }
    <label for={radioId}>{labelText}</label>
</div>
