---
export interface Props {
    divClass?: string;
    inputClass?: string;
    inputType: string;
    inputName: string;
    inputId: string;
    inputValue?: string;
    inputPattern?: string;
    inputPlaceholder?: string;
    inputRequired?: boolean;
    labelText?: string;
    spanClass?: string;
}

const {
    divClass = "col-6 col-12-xsmall prel",
    inputClass = "input-dynamic-label",
    inputType,
    inputName,
    inputId,
    inputValue = "",
    inputPattern = null,
    inputPlaceholder = "",
    inputRequired = false,
    labelText = "",
    spanClass = "validity",
} = Astro.props;
---
<style>
    label {
      color: black;
    }
    .col-12-xsmall {
        display: flex;
        flex-direction: row;
    }
    .col-12 {
        display: flex;
        flex-direction: row;
    }
    .validity {
        width: 40px;
        display: flex;
        align-items: center
    }

    .input-dynamic-label ~ label {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1em;
      margin: auto 0;
      display: flex;
      align-items: center;
      pointer-events: none;
      font-size: 1em;
      transition: all 0.15s ease-out;
    }

    .input-dynamic-label {
      height: 3.5em !important;
      padding: 1em 1em 0em !important;
    }

    .input-dynamic-label:focus ~ label,
    .input-dynamic-label:not([value=""]) ~ label
    {
      font-size: 12px;
      transform: translate(0, -36%);
      padding-left: 4px;
      padding-right: 4px;
    }

    .input-dynamic-label:focus ~ label {
      color: DarkSlateBlue !important;
    }

    .prel {
      position: relative;
    }
</style>
<div class={divClass}>
    <input
        class={inputClass}
        type={inputType}
        name={inputName}
        id={inputId}
        value={inputValue}
        pattern={inputPattern}
        placeholder={inputPlaceholder}
        required={inputRequired}
    />
    <label for={inputId}>{labelText}</label>
    <span class={spanClass}></span>
</div>
